.abt {
    background: white;
    height: 100vh;
}

.main-box {
    display: flex;
    width: 90%;
    margin-top: 100px;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
    background: white;
    column-gap: 100px;
    border-left: 5px solid crimson;
    border-right: 5px solid crimson;
    border-radius: 25px;
    box-shadow:5px 5px 5px grey ;

}

.img-box {
    margin-top: 60px;
    width: 320px;
    height: 500px;
    background: rgb(0, 202, 202);
    position: relative;
    overflow: visible; 
}

.txt-box {
    width: 700px;
    padding-left: 50px;
}

.img-box img {
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translate(-50%, 0); 
    height: 190px;
    border-radius: 50%;
}

.img-box .my-self {
    margin-top: 140px; 
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.img-box .desc {
    margin-top: 10px;
    margin-left: 15px;
    text-align: left;
    font-size: 17px;
    
}
.txt-box .about{
    margin-bottom: 40px;
    padding-right: 500px;
    font-size: 25px;
    text-align: left;

}

.txt-box .desc2{
    font-size: 18px;
    text-align: left;
}
.txt-box .desc3{
    font-size: 18px;
    text-align: left;
}
.links {
    margin-top: 20px;
}

.links a {
    color: inherit; 
    margin-right: 10px;
    font-size: 24px;
}
.links a:hover{
box-shadow: 0 0 10px white;
}
.btn-2{
    margin-top: 20px;
    margin-right: 510px;
    border:none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
    border-radius: 20px;
}
.btn-2:hover{
    cursor: pointer;
    border-left: 2px solid aqua;
    border-right: 2px solid aqua;
    transition: 200ms ease-out;
    box-shadow: 5px 5px 5px grey ;
    transform: scale(1.1);
}